@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(245, 242, 242);
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgba(8, 109, 233, 0.248);
    padding-top: 1rem;
}

header > h1{
    margin-right: 15rem;
}

header > img{
    width: 2vw;
    height: 4vh;
    margin-right: 4px;
}

header > nav{
    display: flex;
    align-items: center;
}

header > nav > a{
    text-decoration: none;
    color: black;
    font-size: 23px;
    margin-right: 3rem;
}

.main-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2%;
}

.section-apresentacao{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 8% 0 0 50%;
    font-size: 2rem;
}

.article-button{
    margin-top: 20%;
}

.article-button > a > button{
    font-size: 20px;
    border-radius: 25px;
    background: #87CEEB;
    box-shadow: 0 4px 6px rgba(0, 123, 255, 0.1);
    cursor: pointer;
    padding: 5px 15px;
    transition: black 0.3s ease;
}

.aside-imagem > img{
    width: 35vw;
    height: auto;
}

footer {
    display: flex;
    align-items: center;
    margin-left: 24%;
}

footer > p {
    font-size: 20px;
}

.redes-sociais-lista {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.redes-sociais-lista li {
    margin: 0px 10px;
}

#rede-sociail-linkedin {
    width: 70px;
    height: auto;
}

#rede-sociail-github {
    width: 50px;
    height: auto;
    padding-top: 25%;
}

